<!doctype html>
<html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <body>
        <h2>Upload and download a file</h2>

        <form action="/transform" method="post" enctype="multipart/form-data">
            <input type="file" name="data_file" />
            <input type="submit" />
        </form>

        <h2>Query and download a file</h2>

		<form action="{{ url_for('queryAndDownload') }}" method="get">
			<dl>
				<dt>Filename:
				<dd><input type="text" name="filename">
				<dd><input type="submit" value="Submit">
			</dl>
		</form>

    	<p><a href="/test.mp4"> Play Basic </a></p>
		{% block player %}{% endblock %}

        <p><a href="/hls/test.m3u8"> Play HLS </a></p>
        {% block hlsplayer %}{% endblock %}

        <button id="jstest" onclick="myfunction(5,6);">JavaScript Test</button>
        <script type="text/javascript">
            function myfunction(a,b) {
                document.getElementById('jstest').innerHTML = a * b;
            }
        </script>

    </body>
</html>